@model ISchool.Models.Nguoidung
@{
    ViewBag.Title = "Login_v02";
    Layout = "~/Views/Shared/MatrixAdmin/LoginMatrix.cshtml";
}

<div id="loginbox">
    <form id="loginform" class="form-vertical" method="post" action="@Url.Action("Login","Home")">
        @Html.AntiForgeryToken()
        <div class="control-group normal_text"> <h3><img src="~/Hinhanh/no-image.png" alt="Logo" /></h3></div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                    @Html.TextBoxFor(a => a.TENND)
                    @*<input type="text" placeholder="Username" />*@
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                    @Html.PasswordFor(a => a.MATKHAU)
                    @*<input type="password" placeholder="Password" />*@
                </div>
            </div>
        </div>
        <div class="form-actions">
            <span class="pull-left">
                <input type="submit" value="Login" class="flip-link btn btn-info" id="to-recover" />
                @*<a href="#" class="flip-link btn btn-info" id="to-recover">Lost password?</a>*@
            </span>
            <span class="pull-right">
                <a type="submit" href="#" class="btn btn-success" value="Login" /> Login</a>
            </span>
        </div>
    </form>
</div>
