
@{
    ViewBag.Title = "Sinh viên phản hồi";
    Layout = "~/Views/Shared/Trangchu/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="container">
    <div class="row" id="style_top">
        <table class="table table-bordered table-striped" style="width: 800px;margin: auto;">
                <tr>
                    <th>
                        Tên
                    </th>
                    <td>
                        Phạm văn hiền
                    </td>
                </tr>
                <tr>
                    <th>
                        Mã số
                    </th>
                    <td>
                        1311060556
                    </td>
                </tr>
                <tr>
                    <th>
                        Phản hồi
                    </th>
                    <td>
                        <textarea name="phanhoi" style="margin: 0px; width: 673px; height: 287px;">Ý kiến sinh viên</textarea>
                    </td>
                </tr>

            </table>
        <br />
        <div class="pull-left">
            <button style="margin-left: 937px;" class="btn btn-success" type="submit">Gửi</button>
        </div>
    </div>
</div>