
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/Trangchu/_Layout.cshtml";
}

<section id="home">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
        </ol>
        <!--/ Indicators end-->
        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="~/Content/images/Test/bannner1.jpg" alt="slider">
                <div class="slider-content">
                </div>
            </div>
            <!--/ Carousel item end -->
            <div class="item">
                <img class="img-responsive" src="~/Content/images/Test/banner2.jpg" alt="slider">
                <div class="slider-content">
                </div>
            </div>
            <!--/ Carousel item end -->
            <div class="item">
                <img class="img-responsive" src="~/Content/images/Test/banner3.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->
            <div class="item">
                <img class="img-responsive" src="~/Content/images/Test/banner4.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                    </div>
                </div>
            </div>
            <!--/ Carousel item end -->
        </div>
        <!-- Carousel inner end-->
        <!-- Controls -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
    <!-- /carousel -->
</section>
<!-- End HomePage Slider -->
<!-- Start Content -->
<div id="content">
    <div class="container">
        <!-- Start Services Icons -->
        <div class="row" id="style_top">
            <!-- Start Service Icon 1 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <a href="#">
                        <i class="fa fa-tasks icon-medium-effect icon-effect-2"></i>
                    </a>
                </div>
                <div class="service-content">
                    <h4>Trung Tâm Ngoại Ngữ</h4>
                    <p style="text-align:justify;">Đào tạo các chương trình ngắn hạn, luyện và tổ chức thi chứng chỉ quốc gia A, B, C và các chứng chỉ Tiếng Anh Quốc tế. Chương trình đào tạo của TT Anh Ngữ được xây dựng theo hướng hiện đại, phù hợp với trình độ của học viên.</p>
                </div>
            </div>
            <!-- End Service Icon 1 -->
            <!-- Start Service Icon 2 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <a href="#">
                        <i class="fa fa-desktop icon-medium-effect icon-effect-2"></i>
                    </a>
                </div>
                <div class="service-content">
                    <h4>Trung Tâm Tin Học</h4>
                    <p style="text-align:justify;">Đào tạo các chương trình ngắn hạn, cấp chứng chỉ quốc gia A, B, C và các khóa chuyên đề, các chương trình kỹ thuật viên tin học. Chương trình đào tạo của TT Tin học được thiết kế linh hoạt, phù hợp với từng nhóm ngành.</p>
                </div>
            </div>
            <!-- End Service Icon 2 -->
            <!-- Start Service Icon 3 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <a href="#">
                        <i class="fa fa-user icon-medium-effect icon-effect-2"></i>
                    </a>
                </div>
                <div class="service-content">
                    <h4>Trung Tâm Kỹ Năng</h4>
                    <p style="text-align:justify;">Đào tạo và cấp chứng chỉ các chương trình về kỹ năng như kỹ năng giao tiếp, kỹ năng tư duy sáng tạo, kỹ năng thuyết trình, kỹ năng bàn phím… TT Kỹ năng mềm còn quản lý các môn học về kỹ năng trong chương trình chính khóa cho toàn trường.</p>
                </div>
            </div>
            <!-- End Service Icon 3 -->
            <!-- Start Service Icon 4 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <a href="#">
                        <i class="fa fa-search icon-medium-effect icon-effect-2 gray-icon"></i>
                    </a>
                </div>
                <div class="service-content">
                    <h4>Tra Cứu Thông Tin Chứng Chỉ</h4>
                    <p style="text-align:justify;">Tra cứu các thông tin liên quan đến chứng chỉ của viện đào tạo nghề nghiệp HUTECH</p>
                </div>
            </div>
            <!-- End Service Icon 4 -->
        </div>
        <!-- End Services Icons -->
        <!-- Divider -->
        <div class="hr1 margin-top"></div>
        <!-- Start News Hutech -->
        <div class="hr1 margin-60"></div>
        <div class="row">
            <div class="col-md-8">
                <!-- Start Recent Posts Carousel -->
                <div class="latest-posts">
                    <h4 class="classic-title"><span>Tin tức</span></h4>
                    <div class="latest-posts-classic custom-carousel touch-carousel" data-appeared-items="2">
                        <!-- Posts 1 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">18</span><span class="month">tháng 5</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Sinh viên Hutech làm việc tốt</a></h3>
                            <div class="post-content">
                                <p>Nội dung này đang được cập nhật!<a class="read-more" href="#"><br>Read More...</a></p>
                            </div>
                        </div>
                        <!-- Posts 2 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Sinh viên Hutech quẫy nát màn đêm</a></h3>
                            <div class="post-content">
                                <p>Nội dung này đang được cập nhật!<a class="read-more" href="#"><br>Read More...</a></p>
                            </div>
                        </div>
                        <!-- Posts 3 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Sinh viên Hutech cống hiến hết mình</a></h3>
                            <div class="post-content">
                                <p>Nội dung này đang được cập nhật!<a class="read-more" href="#"><br>Read More...</a></p>
                            </div>
                        </div>
                        <!-- Posts 4 -->
                        <div class="post-row item">
                            <div class="left-meta-post">
                                <div class="post-date"><span class="day">26</span><span class="month">Dec</span></div>
                                <div class="post-type"><i class="fa fa-picture-o"></i></div>
                            </div>
                            <h3 class="post-title"><a href="#">Hutech lọt top 10 sinh viên ăn nhậu</a></h3>
                            <div class="post-content">
                                <p>Nội dung này đang được cập nhật!<a class="read-more" href="#"><br>Read More...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Recent Posts Carousel -->
            </div>
            <div class="col-md-4">
                <!-- Classic Heading -->
                <h4 class="classic-title"><span>Châm ngôn trung tâm</span></h4>
                <!-- Start Testimonials Carousel -->
                <div class="custom-carousel show-one-slide touch-carousel" data-appeared-items="1">
                    <!-- Testimonial 1 -->
                    <div class="classic-testimonials item">
                        <div class="testimonial-content">
                            <p>Làm việc là phải hết mình vì sinh viên.</p>
                        </div>
                        <div class="testimonial-author"><span>Võ Hoàng Khang</span> - Teacher</div>
                    </div>
                    <!-- Testimonial 2 -->
                    <div class="classic-testimonials item">
                        <div class="testimonial-content">
                            <p>Giảng dạy phải có lương tâm.</p>
                        </div>
                        <div class="testimonial-author"><span>Võ Hoàng Khang</span> - Teacher</div>
                    </div>
                    <!-- Testimonial 3 -->
                    <div class="classic-testimonials item">
                        <div class="testimonial-content">
                            <p>Học thì học mà nhậu thì nhậu.</p>
                        </div>
                        <div class="testimonial-author"><span>Lê Minh Quốc</span> - Student</div>
                    </div>
                </div>
                <!-- End Testimonials Carousel -->
            </div>
        </div>
        <!-- End logo Ad -->
        <!-- Start Link Hutech -->
        <!-- End Link Hutech -->
        <div class="hr1 margin-60"></div>
    </div>
</div>
<!-- End content -->
<!-- Region to style cho logo chạy-->
<style type="text/css">
    #style_top {
        margin-bottom: -60px;
    }

    .lightbox img {
        max-width: 60%;
        margin-left: 21%;
    }
</style>
<!--end-->
